.side-bar {
  .search {    
      @media (min-width: 50rem) {
        flex-grow: 0;
        width: 100% !important;
        height: 3em !important;
    }
  }
  
  .search-active {
    
    .search-results,
    .search-input-wrap {
      @media (min-width: 50rem) {
        width: 100%; 
      }
    }
  }

  .site-header {
    height: auto;
    max-height: inherit;
  }
  
  .aux-nav {
    height: auto;
  }
}

@media (min-width: 66.5rem) {
  .site-nav, .site-header, .site-footer {
    width: 100%;
  }
}

.search-active .search-overlay {
  display: none !important;
}
