$RAAlightgrey: #f7f7f7;
$RAAmidgrey: #ebebec;
$RAAdarkgrey: #4d4d4d;
$RAAblack: #333333;
$RAAborder: $RAAmidgrey;
$RAAyellow: #fff599;

body {
  max-width: 97rem;
  background: #ffffff;
  margin: 0 auto;
}

p {
  margin-bottom: 24px !important;
  margin-top: 48px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 24px !important;
  margin-top: 48px !important;
  text-transform: capitalize;
}

h1 { font-size: 48px !important;}
h2 { font-size: 36px !important;}
h3 { font-size: 24px !important;}
h4 { font-size: 18px !important;}
h5 { font-size: 18px !important;}
h6 { font-size: 16px !important;}

h1:first-of-type {
  margin-top: 0 !important;
}

:focus-visible {
    outline: $RAAyellow auto 1px;
}

.icon {
  color: $RAAblack;
}

.site-title:hover {
    background-image: none;
}

.side-bar {
  background-color: #fff;
  
  @media (min-width: 50rem) {
    border-right: 1px solid $RAAborder;
    width: auto;
    max-width: 17rem;
    padding: 24px 0;
    width: 320px;
  }

  .logo-search {
    width: 100%;
    padding: 1rem 1rem 0;

    @media (min-width: 50rem) {
      padding: 0 24px;
      margin-bottom: 24px;
    }
  }
  
  .search {
      padding: 0;
    
      @media (min-width: 50rem) {
        flex-grow: 0;
        width: 100% !important;
        height: 44px !important;
    }
  }

  .search-input {
    padding: 12px 12px 12px 38px;
    border-radius: 4px;
    border: 1px solid $RAAborder;
    background: #FFF;
  }

  .search-label {
    padding-left: 12px;
    color: $RAAblack;
  }

  .search-icon {
    width: 14px;
    height: auto;
  }

  .site-header {
    @media (min-width: 50rem) {
      border-bottom: 0px;
      margin-bottom: 24px;
    }
  }

  .site-title {
    padding: 0 0 12px;
    
    @media (min-width: 50rem) {
      padding: 0;
    }
  }

  .site-nav {
    padding: 0 1rem;
  //   box-shadow:
  //   0 1px 2px rgba(0, 0, 0, 0.12),
  //   0 3px 10px rgba(0, 0, 0, 0.08);
  // transition: height linear #{$transition-duration * 0.5};
    
    @media (min-width: 50rem) {
      margin: 0 6px 0;
      padding: 0 18px 0 24px;
      box-shadow: none;

      > .nav-category {
        ~ .nav-list {
          border-bottom: 1px solid $RAAborder;
          padding-bottom: 6px;
          margin-bottom: 6px;
        }
      }
    }
  }
  
  .nav-category {
    border-bottom: 0;
    padding: 12px 16px;
    text-transform: capitalize;
    margin-top: 0;
  }

  .nav-category,
  .nav-list .nav-list-item.active .nav-list-link.active {
    color: $RAAblack;
  }

  .nav-list .nav-list-item .nav-list-expander,
  .nav-list .nav-list-item .nav-list-expander:hover {
    cursor: pointer;
    background-image: none;
    color: $RAAdarkgrey;
    top: 3px;
  }
  
  .nav-list.nav-category-list > .nav-list-item > .nav-list > .nav-list-item > .nav-list-link,
  .nav-list .nav-list-item .nav-list-link {
    color: $RAAdarkgrey;
    
    @media (min-width: 50rem) {
      padding: 12px 16px;
      border-radius: 8px;
    }
  }

  .nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
  }

  .nav-list .nav-list-item .nav-list-link.active {
    background: $RAAyellow;
    font-weight: 700;
    color: $RAAblack;
  }

  .nav-list .nav-list-item .nav-list-link:hover {
    background: $RAAlightgrey;
  }
  
  .aux-nav {
    height: auto;
  }
}

@media (min-width: 66.5rem) {
    .site-nav, .site-header, .site-footer {
        width: 100%;
    }
}

.search-active {
  .search-input-wrap {
    @media (min-width: 50rem) {
      width: 100%; 
    }
  }

  .search-overlay {
    display: none !important;
  }

  .main {
    @media (min-width: 50rem) {
      position: static;
    }
  }
}

.main {

  @media (min-width: 50rem) {
    margin-left: 17rem;
    max-width: 80rem;
  }
  
  @media (min-width: 66.5rem) {
    margin-left: 17rem;
  }

  .main-content-wrap {

    @media (min-width: 50rem) {
      padding: 68px;
    }  

    @media (min-width: 66.5rem){
      padding-left: 102px;
      padding-rightt: 102px;
    }
  }
}

.brand-wrap-container {
  width: 100%; 
  flex-direction: column; 
  justify-content: center; 
  align-items: 
  flex-start; 
  display: inline-flex
}

.brand-inner {
  justify-content: flex-start; 
  align-items: 
  flex-start; 
  gap: 8px; 
  display: inline-flex;
}

.brand-logo-icon {
  width: 38px; 
  // color: $RAAyellow; 
  font-size: 38px; 
  // font-family: Font Awesome 6 Pro; 
  font-weight: 900; 
  line-height: 56px; 
  word-wrap: break-word;
}
 
.brand-logo-wrap {
  padding-top: 6px; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  display: inline-flex;
}

.brand-logo-title {
  color: $RAAblack; 
  font-size: 32px; 
  font-family: Helvetica Neue; 
  font-weight: 700; 
  line-height: 40px; 
  word-wrap: break-word;
}

.brand-logo-subtitle {
  color: #8D9298; 
  font-size: 14px; 
  font-family: Helvetica Neue; 
  font-weight: 400; 
  line-height: 20px; 
  word-wrap: break-word;
}

p.important {
  background: #f1f7ff;
  border-left: 0;
  border-radius: 8px;
  box-shadow: none;
  padding: 12px;
  
  &::before {
    font-family: "Font Awesome 6 Free" !important;
    content: "\f05a" !important;
    display: inline-block !important;
    padding: 0 12px 0 !important;
    vertical-align: middle !important;
    font-weight: inherit !important;
    font-size: 24px !important;
  }
}


