.side-bar {
  .search {    
      @media (min-width: 50rem) {
        flex-grow: 0;
        width: 100% !important;
        height: auto !important;
    }
  }

  .site-header {
    height: auto;
    max-height: auto;
    display: block;
  }
  
  .aux-nav {
    height: auto;
  }
}
