$body-font-family: "Helvetica Neue", arial, sans-serif;
$body-heading-color: #333333;
$font-size-1: 48px !important;
$font-size-2: 36px !important;
$font-size-3: 24px !important;
$font-size-4: 18px !important;
$font-size-5: 18px !important;
$font-size-6: 18px !important;

$body-text-color: #495059 !important;

