<div class="category-tiles {{include.layout}}">  
  {% if include.layout="inline"  %}
    {% for item in site.pages %}
      {% if item.get_started %}
        {% if item.hide_category_list != true %}
          {% include category-list-item.html the_item=item layout="inline" %}
       {% endif %}  
      {% endif %}
    {% endfor %}
  {% elsif include.parent %}
    {% for item in site.pages %}
      {% if item.parent == include.parent %}
        {% if item.hide_category_list != true %}
          {% include category-list-item.html the_item=item %}
        {% endif %}  
      {% endif %}
    {% endfor %}
  {% endif %} 
</div>
