<a href="{{site.baseurl}}{{ include.the_item.url }}" class="{{include.the_item.title}}">
  {% if include.the_item.promo-image %}
    <div class="category-tiles-thumb"><img src="{{site.url}}assets/images/{{include.the_item.promo-image}}"></div>
  {% else %}
   <div class="category-tiles-thumb"></div>
  {% endif %}
  <div class="category-tiles-content">
    <h3>{{ include.the_item.title | markdownify }}</h3>
    <p>{{ include.the_item.intro | markdownify }}</p>
    {% if include.layout == "inline" %}<a>Explore {{include.the_item.title}} <i class="fa-solid fa-arrow-right"></i></a> {% endif %}
  </div>
</a>
