<a href="{{site.baseurl}}{{ include.the_item.url }}" class="{{include.the_item.title}}">
  {% if include.the_item.promo-image %}
    <div class="category-tiles-thumb {{include.thumb_class}}"><img src="{{site.url}}assets/images/{{include.the_item.promo-image}}"></div>
  {% else %}
   <div class="category-tiles-thumb"></div>
  {% endif %}
  <div class="category-tiles-content">
    <h3>{{ include.the_item.title }}</h3>
    <p>{{ include.the_item.intro }}</p>
    {% if include.layout == "inline" %}<span class="link-text">Explore {{include.the_item.title}} <i class="fa-solid fa-arrow-right"></i></span> {% endif %}
  </div>
</a>
