<div>
 <div class="category-tiles">
  {% for item in site.[include.items] %}
   {% if item.hide_category_list != true %}
   <div>
     <a href="{{site.baseurl}}{{ item.url }}" class="{{item.title}}">
       {% if item.promo-image %}
         <div class="category-tiles-thumb"><img src="{{site.url}}assets/images/{{item.promo-image}}"></div>
       {% else %}
        <div class="category-tiles-thumb"></div>
      {% endif %}
      {% if item.title-alternative %}
      <h3>{{ item.title-alternative }}</h3>
      {% else %}
       <h3>{{ item.title }}</h3>
      {% endif %}
       <p>{{ item.intro | markdownify }}</p>
       {% if include.show-link %}
        {% if item.title-alternative %}
         <a href="">{{ item.title-alternative }}</a> 
        {% else %}
         <a href="">{{ item.title }}</a> 
        {% endif %}
       {% endif %}
     </a>
   </div>
  {% endif %}
  
  {% endfor %}  
 </div>
</div>
